@media only screen and (min-width: 41em) {
  html {
    font-size: 14px;
  }
  body {
    width: 95%;
    margin: 0 2.5%;
  }
  header {
    text-align: left;
    padding: 2rem 1rem;
  }
  img {
    float: right;
    position: relative;
    top: -4.7rem;
    right: 2.5rem;
    box-shadow: 4px 4px 20px 1px #000000;
  }
  main {
    padding-left: 1rem;
  }
  header,
  footer {
    background: #191964;
    color: #ffffff;
    border-radius: 0.5rem;
    padding: 2rem 1rem;
  }
  footer {
    padding: 0.8rem 1rem;
  }
}
