@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    --blue: #1A759F;
    --green: #52B69A;
    --white: #ffffdd;
}

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}
.load{
    text-align: center;
}

body {
    font-family: 'Righteous', cursive;
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    color: var(--white);
    height: 14vh;
    box-shadow: 3px 3px 15px 3px  rgba(0, 0, 0, 0.514);

}


.favoriteRecipes h2 {
    text-align: center;
    color: var(--blue);
    padding: 1rem 0;
}

#favoriteRecipes {
    padding: 1rem;
    background-color: var(--green);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: center;

}

.favoriteRecipe {
    background-color: var(--green);
    text-align: center;
}

.favoriteRecipe p {
    padding: 0.5rem;
}



.favoriteRecipe--img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
}


#search {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 2rem 0;
}

#search .search--header {
    font-weight: bold;
}

#search button {
    font-size: 1.8rem;
    padding: 0.3rem;
    border: none;
    background-color: white;
    padding-left: 0.5rem;
    border-radius: 8px;
}
#search button:hover {
    background-color: #21759c28;

}



#search input {
    background-color: var(--blue);
    border-radius: 0.5rem;
    border: 3px solid black;
    width: 80%;
    margin-top: 0.5rem;
    height: 2.2rem;
    padding: 0.25rem;
    transition: all 0.5s ease;
    box-shadow: 2px 2px 3px  rgba(0, 0, 0, 0.514);
    padding-left: 1rem;
    font-size: 1.5rem;
}
#search input:focus {
    box-shadow: 3px 3px 15px 3px  rgba(0, 0, 0, 0.514);
    outline: none;
    transform: scale(1.05,1.1);
}
#search input::placeholder {
    color: rgba(223, 211, 211, 0.904);
    font-size: 1.5rem;
}


.recipe {
    box-shadow: 3px 3px 15px 3px  rgba(0, 0, 0, 0.514);
    background-color: var(--green);
    border-radius: 1rem;
    display: flex;
    justify-content: space-evenly;
    height: 10rem;
    width: 90%;
    margin: 0 5% 1.5rem;
}
.recipe:hover {
    border-radius: 1.5rem;
    transform: scale(1.02);
    
}

.recipe--img {
    width: 150px;
    height: 120px;
    margin-top: 5%;

}

.recipe--img img {

    height: 100%;
    width: 100%;

}

.recipe--container {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe--container button {
    width: 3rem;
    padding: 1rem 1rem;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 1rem;
    border: none;
    background-color: var(--green);
    color: var(--blue);
}
.recipe--container button:hover {
    
    color: red;
    transform: scale(1.2);
}

.full--img {
    display: block;
    height: 300px;
}

.full--img img {
    width: 90%;
    height: 300px;
    margin: 0 5%;
}

.top {
    display: flex;
    justify-content: space-around;
    margin: 0.5rem 0;
}

.instructions {
    text-align: center;
    margin-bottom: 1rem;
}

@media only screen and (min-width:650px) {
    #recipes {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    

}

.recipe--container button.favorite{
        color: red;
        transform: scale(1.2);
    
    }