<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Helthy Recipes</title>
</head>
<body>
    <div class="header">
        <h1>Healthy Recipes</h1>
    </div>

    <div class="favoriteRecipes" >
        
        <h2>Favorite Recipes</h2>
        <div id="favoriteRecipes">

            <div class="favoriteRecipe">
                <div class="favoriteRecipe--img">
                    <img src="../food.jpg" alt="">
                </div>
                <p> Recipe Name</p>
            </div>
            <div class="favoriteRecipe">
                <div class="favoriteRecipe--img">
                    <img src="../food.jpg" alt="">
                </div>
                <p> Recipe Name</p>
            </div>
            <div class="favoriteRecipe">
                <div class="favoriteRecipe--img">
                    <img src="../food.jpg" alt="">
                </div>
                <p> Recipe Name</p>
            </div>
            <div class="favoriteRecipe">
                <div class="favoriteRecipe--img">
                    <img src="../food.jpg" alt="">
                </div>
                <p> Recipe Name</p>
            </div>
            


        </div>

    </div>

    

    <div id="search">
        <div class="search--header">
            <p>Search</p>
            <button><i class="fas fa-search"></i>

            </button>
        </div>
        <input id="searchInput" type="text" >
    </div>

<div id="recipes">

    <div class="recipe">
        <div class="recipe--img">
            <img src="../food.jpg" alt="">
        </div>
        <div class="recipe--container">
            <p>Recipe Name </p>
            <button><i class="fas fa-heart"></i>

</button>

        </div>
    </div>
    <div class="recipe">
        <div class="recipe--img">
            <img src="../food.jpg" alt="">
        </div>
        <div class="recipe--container">
            <p>Recipe Name </p>
            <button><i class="fas fa-heart"></i>

</button>

        </div>
    </div>
    <div class="recipe">
        <div class="recipe--img">
            <img src="../food.jpg" alt="">
        </div>
        <div class="recipe--container">
            <p>Recipe Name </p>
            <button><i class="fas fa-heart"></i>

</button>

        </div>
    </div>



</div>

<div id="full">
    <div class="full--img">
        <img src="../food.jpg" alt="">
    </div>
    <div class="full--container">
        <div class="top">
            <div class="nutrition">
                <h2>Nutrition</h2>
                <ul>
                    <li>calcio</li>
                    <li>fosforo</li>
                </ul>
            </div>
            <div class="ingridients">
                <h2>Ingridients</h2>
                <ul>
                    <li>Chocolate</li>
                    <li>Harina</li>
                </ul>
            </div>
        </div>
        <div class="instructions">
            <h2>Instructions</h2>
            <ul>
                <li>cocinar</li>
                <li>servir</li>
                <li>comer</li>
            </ul>
        </div>
    </div>


</div>






    
</body>
<script src="https://kit.fontawesome.com/92814a70db.js" crossorigin="anonymous"></script>

</html>